@if (!Request.IsAuthenticated) 
{
     <ul>
        <li>@Html.ActionLink("Registrar", "Registrar", "Usuario", routeValues: null, htmlAttributes: new { id = "registrarLink", data_dialog_title = "Registro" })</li>
        <li>@Html.ActionLink("Logar", "Login", "Registrar", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_title = "Login" })</li>
    </ul>
} 